{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud-X</title>
    <link rel="stylesheet" href="{% static 'css/index-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-div-alert.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery.maskMoney.js' %}"></script>
    <script src="{% static 'js/jquery.alphanumeric.js' %}"></script>
    <script src="{% static 'js/format-input.js' %}"></script>
    <script src="{% static 'js/ajax-submit.js' %}"></script>

</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo-section">
                <img src="{% static 'assets/logo-without-background.png' %}" alt="Logo FraudX" class="logo">
                <span class="logo-text">FraudX</span>
            </div>
        </div>
    </header>

    <section id="home" class="hero">
        <div class="hero-container">
            <div class="hero-text">
                <h1>FraudX: Fast<br>responses to fast<br>threats!</h1>
                <img src="{% static 'assets/vector.png' %}" alt="Line Decorative" class="linha-hero">
            </div>
            <div class="hero-img">
                <img src="{% static 'assets/group.png' %}" alt="Apresentation">
            </div>
        </div>
    </section>

    <section class="mission">
        <div class="container">
            <h2>Our Mission</h2>
            <p>FraudX is an innovative digital security verification tool designed to identify fraud in</p>
            <p>transactions in a practical and efficient way. With an approach based on Artificial</p>
            <p>Intelligence, our technology analyzes the data provided by users in forms, based on</p>
            <p>an extensive database of fraudulent patterns.</p>
        </div>
    </section>

    <section class="banner-how-function">
        <div class="banner" style="background-image: url('{% static 'assets/how-function.png' %}');"></div>
    </section>

    <section id="section-form-fraud" class="section-form-fraud">
        <div class="container">
            <h2>Fill in to detect possible fraud</h2>
            <form id="fraud-form" action="{% url 'verify_transaction' %}" method="POST">
                {% csrf_token %}
                
                <label for="transaction-type">Select Transaction Type:</label>
                <select id="transaction_type" class="transaction-type" name="transaction_type" required>
                    <option value="PAYMENT">PAYMENT</option>
                    <option value="TRANSFER">TRANSFER</option>
                    <option value="DEBIT">DEBIT</option>
                    <option value="CASH-OUT">CASH-OUT</option>
                </select>

                <label for="amount">Amount</label>
                <input type="text" id="amount" maxlength="15" name="amount" class="currency" placeholder="R$" required>

                <label for="old-balance-org">Old Balance Origem</label>
                <input type="text" id="old-balance-org"  maxlength="15" name="old-balance-org" class="currency" placeholder="R$" required>

                <label for="new_balance_orig">New Balance Origem</label>
                <input type="text" id="new-balance-orig"  maxlength="15" name="new-balance-orig" class="currency" placeholder="R$" required>

                <label for="old_balance_dest">Old Balance Destiny</label>
                <input type="text" id="old-balance-dest"  maxlength="15" name="old-balance-dest" class="currency" placeholder="R$" required>

                <label for="new_balance_dest">New Balance Dest</label>
                <input type="text" id="new-balance-dest"  maxlength="15" name="new-balance-dest" class="currency" placeholder="R$" required>

                <button type="submit" id="submit-button" disabled>To Check</button>
            </form>

            <div id="response-message" class="alert-box">
                <p id="message-text"></p>
                <div id="button-alert-div">
                    <button id="close-message-btn">✖ Close</button>
                </div>
            </div>
        </div>
    </section>

    

    <footer>
        <div class="container">
            <p><strong>FraudX</strong> &copy; 2025</p>
            <p>Contact: contact@fraudx.com</p>
        </div>
    </footer>
</body>
</html>